/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

.btn {
    -webkit-transition: 0.333s;
       -moz-transition: 0.333s;
            transition: 0.333s;
}

.btn--secondary {
    color: $inuit-btn-background;
    border-color: $inuit-btn-background;

    &,
    &:hover,
    &:active,
    &:focus,
    &:visited {
        background: none;
    }

    &:hover,
    &:active,
    &:focus {
        color: darken($inuit-btn-background, 15%);
    }

}
