// We import types of file in the following order:
//
// Settings -- Sass vars, etc.
// Tools -- Functions and mixins.
// Generic -- Generic, high-level styling, like resets, etc.
// Base -- Unclasses HTML elements (e.g. `h2`, `ul`).
// Object -- Objects and abstractions.
// Components -- Your designed UI elements (inuitcss includes none of these).
// Trumps -- Overrides and helper classes.
//
// These shearing layers are what make inuitcss so scalable.

@import "bower_components/inuit-defaults/settings.defaults";

// We can add our own settings.
@import "settings.colors";





@import "bower_components/inuit-functions/tools.functions";

@import "bower_components/inuit-mixins/tools.mixins";

// We can import our own partials in the relevant locations/layers. We name them
// in the _<layer>.<file>.scss format.
@import "tools.aliases";





@import "bower_components/inuit-normalize/generic.normalize";

@import "bower_components/inuit-reset/generic.reset";

@import "bower_components/inuit-box-sizing/generic.box-sizing";

@import "bower_components/inuit-shared/generic.shared";

@import "bower_components/inuit-clearfix/generic.clearfix";





@import "bower_components/inuit-page/base.page";

// We can intersperse our own CSS in and amongst inuitcss imports.
html {
    padding: $spacing-unit;
}

a {
    color: $color-links;
}

@import "bower_components/inuit-paragraphs/base.paragraphs";

@import "bower_components/inuit-headings/base.headings";

@import "bower_components/inuit-lists/base.lists";

@import "bower_components/inuit-images/base.images";





@import "bower_components/inuit-layout/objects.layout";

@import "bower_components/inuit-bare-list/objects.bare-list";

@import "bower_components/inuit-block-list/objects.block-list";

// Override and enable settings and features inline, just before their partial
// is imported.
$inuit-enable-ui-list--small:   true;
@import "bower_components/inuit-ui-list/objects.ui-list";

@import "bower_components/inuit-tables/objects.tables";

$inuit-enable-media--large: true;
$inuit-enable-media--rev:   true;
@import "bower_components/inuit-media/objects.media";

$inuit-enable-flag--large:  true;
$inuit-enable-flag--rev:    true;
@import "bower_components/inuit-flag/objects.flag";

@import "bower_components/inuit-box/objects.box";

$inuit-enable-btn--large:   true;
$inuit-btn-border-width:    2px;
@import "bower_components/inuit-buttons/objects.buttons";

@import "bower_components/inuit-tabs/objects.tabs"; 





@import "components.buttons";





@import "bower_components/inuit-widths/trumps.widths";

$inuit-enable-margins:          true;
$inuit-enable-margins--small:   true;
$inuit-enable-margins--large:   true;
$inuit-enable-margins--none:    true;

$inuit-enable-paddings:         true;
$inuit-enable-paddings--small:  true;
$inuit-enable-paddings--large:  true;
$inuit-enable-paddings--none:   true;
@import "bower_components/inuit-spacing/trumps.spacing";
